<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				autoReload="true"
				throwConfigExceptions="true"
				internalLogLevel="Warn"
				internalLogFile="internal-nlog.txt">
		<targets>
			<target name="ServerLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log" archiveEvery="Day" maxArchiveDays="15">
				<layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="Nothing">
					<column name="time" layout="${longdate}" />
					<column name="processname" layout="${processname}" />
					<column name="level" layout="${uppercase:${level}}" />
					<column name="method" layout="${event-properties:item=method}" />
					<column name="message" layout="${event-properties:item=result}" />
					<column name="data" layout="${event-properties:item=data}" />
					<column name="stacktrace" layout="${stacktrace:topFrames=10}" />
					<column name="exception" layout="${exception:format=@}" />
				</layout>
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="ServerLog" />
		</rules>
	</nlog>
</configuration>